.error {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__title {
    font-size: clamp(5rem, 11vw, 10rem);
    line-height: 1.2;
  }
  &__home-link {
    font-size: 3rem;
  }
  &__system-error {
    font-size: 3rem;
  }
}