.footer__container {
  text-align: center;
  font-size: clamp(.75rem, 2vw, 1rem);
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  ;
}