$hind-font: 'Hind', sans-serif;

$background--main: black;
$text--main: white;
$highlight: #8813f6;

$background--inverse: white;
$text--inverse: black;

$error: rgb(255, 51, 51);
$error--background: rgba(252, 155, 155, 0.35);
$success: rgba(145, 197, 145, 35%);
$success-font: hsl(120, 40%, 40%);